@import play.mvc.Http.Request
@(loginForm: Form[Login])(implicit request: Request, messages: play.i18n.Messages)
<html lang="en">
    <head>
        <title>Log in!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("/css/main.css")">
    </head>
    <body>
        <h1 style="text-align: center">Log in page!</h1>
        <br>
        <div class="row" style="margin: 0 350">
            @helper.form(action = routes.HomeController.login()) {
                @helper.CSRF.formField
                @helper.inputText(loginForm("email"), Symbol("class")->"form-control", Symbol("_label")->"Email:")
                @helper.inputPassword(loginForm("password"), Symbol("class")->"form-control", Symbol("_label")->"Password:")
                <input type="submit" value="Sign in!" class="btn btn-success">
            }
        </div>
        <script src="@routes.Assets.versioned("/js/main.js")" ></script>
        <script src="@routes.Assets.versioned("/js/bootstrap.min.js")" ></script>
        <script src="@routes.Assets.versioned("/js/jquery-3.5.1.min.js")" ></script>
    </body>
</html>