@import play.mvc.Http.Request
@(userForm: Form[User])(implicit request: Request, messages: play.i18n.Messages)
@import helper._
<html>
    <head>
        <title>Sign up!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("/css/main.css")">
    </head>
    <body>
        <div class="container">
            <h1 style="text-align: center">Sign up page!</h1>
            <br>
            <div class="row" style="margin: 0 300">
                @helper.form(action = routes.HomeController.signup()) {
                    @helper.CSRF.formField

                    @helper.inputText(userForm("firstName"), Symbol("class")->"form-control", Symbol("_label")->"First name:")
                    @helper.inputText(userForm("lastName"), Symbol("class")->"form-control", Symbol("_label")->"Last name:")
                    @helper.inputText(userForm("email"), Symbol("class")->"form-control",  Symbol("_label")->"Email:")
                    @helper.inputPassword(userForm("password"), Symbol("class")->"form-control",  Symbol("_label")->"Password:")
                    <input type="submit" value="Sign up!" class="btn btn-success">
                    }
            </div>
        </div>
        <script src="@routes.Assets.versioned("/js/main.js")" ></script>
        <script src="@routes.Assets.versioned("/js/bootstrap.min.js")" ></script>
        <script src="@routes.Assets.versioned("/js/jquery-3.5.1.min.js")" ></script>
    </body>
</html>